# Dependencies
node_modules/
.pnp
.pnp.js

# Build Artifacts
dist/
build/
.next/
out/
coverage/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel / Render
.vercel/
